@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-primary: #232340;
  --background-light: #ffffff;
  --grain: url("./grain.png");
  --p-blue: "#092644";
  --p-charcoal: "#426894";
  --p-cinnabar: "#FFAA3B";
  --p-coolgray: "#9fa2b2";
  --p-cornsilk: "#FAF0CA";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl lg:text-7xl leading-tight;
  }

  h2 {
    @apply text-2xl lg:text-5xl leading-tight;
  }

  h3 {
    @apply text-xl lg:text-4xl leading-tight tracking-wide;
  }

  h4 {
    @apply text-base lg:text-xl leading-tight ;
  }

  h5 {
    @apply text-sm lg:text-base leading-tight;
  }

  p {
    @apply font-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.typewriter-text {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  border-right-width: 8px;
  animation:
    typing 1.5s steps(20) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(20) infinite
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #D2E3EB;
  }

  to {
    border-right-color: transparent;
  }
}

body {
  background: #51626A;
}

.section-template {
  grid-template-columns: minmax(0, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: 80px minmax(100px, 1fr) minmax(0,80px);
  }
}